#content_title, .card-header, .sidebar p, .sidebar i, .brand-text{
    color: white;
}

#content_title{
    text-align: center;
    margin-top: 2em;
    text-transform: uppercase;
}
.content-wrapper{
    background-color: #333333;
}

.card{
    margin-top : 3em;
}

.card-header{
    background-color: #006666;
}

.main-sidebar{
    background-color: rgba(0, 102, 102, 0.9);
}

img{
    width:100px;
}

#mapId { 
    height: 180px; 
}
